# -----------------------------------------------------------------------------
# SERVER-SIDE ONLY (Private - Never shared with the browser)
# -----------------------------------------------------------------------------
STRIPE_SECRET_KEY

# -----------------------------------------------------------------------------
# CLIENT-SIDE ACCESSIBLE (Public - Safe for the browser)
# -----------------------------------------------------------------------------
# You MUST prefix these with NEXT_PUBLIC_ to use them in your components/hooks
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
NEXT_PUBLIC_STRIPE_PRICE_MONTHLY
NEXT_PUBLIC_STRIPE_PRICE_YEARLY

# -----------------------------------------------------------------------------
# APP CONFIG
# -----------------------------------------------------------------------------
NEXT_PUBLIC_BASE_URL