@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.row {
    
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
  }

  .container {
    padding: 40px 0;
    width: 100%;
  }

  .library__title,
  .library__subtitle {
    margin-bottom: 16px;
  }

  .library__subtitle {
    font-size: 18px;
  }

  .library__books--wrapper {
    min-height: 397px;
    margin-bottom: 32px;

  }

  .library__button--wrapper {
    width: 100%;
    min-height: 397px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .library__button--more-books {
    font-size: 18px;
    font-weight: 400;
    background-color: #2bd97c;
    padding: 20px 40px;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
  }

  .library__button--more-books:hover {
    background-color: #20ba68;
  }

  .library__button--more-books:active {
    transform: translateY(1px);
  }