@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    font-family: "Roboto";
    padding: 40px 0;
    width: 100%;
  }
  
  .row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
  }

  .settings__title {
    font-size: 32px;
    font-weight: bold;
    padding: 16px 0;
  }

  .settings__content {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
  }

  .row > div:nth-child(-n+2) {
    border-bottom: 1px solid #bac8ce;
  }

  .settings__subtitle {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
  }

  .display__tier {
    text-transform: capitalize;
  }

  .settings__button--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .settings__button {
    min-width: 170px;
    font-family: "Roboto";
    font-size: 18px;
    padding: 14px 32px;
    border-radius: 4px;
    color: #032b41;
    background-color: #2bd97c;
    transition: all 250ms ease-in-out;
  }

  .settings__button:hover {
    background-color: #20ba68;
  }

  .settings_button:active {
    transform: translateY(1px);
  }

  @media (max-width: 480px) {
    .settings__content {
      flex-direction: column;
    }

    .settings__button--wrapper {
      justify-content: start;
    }
  }